*{
	margin:0;
	padding:0;
}

/*кнопка*/
.botton {

	margin:30px;
	height: 45px;
	width: 180px;
	background: linear-gradient(#FFB0D4,#FFCAE2 50%, #FFCAE2 50%,#FFB0D4 100%);
	border-radius:50px;
	font: 500 1.5em/1.8em 'Roboto',sans-serif;
	text-align:center;
	box-sizing: border-box;
	position:relative;

}

/*кнопка меняет фон при наведении*/
.botton:hover{
	background: linear-gradient(#FFCAE2,#FFB0D4 50%, #FFB0D4 50%,#FFCAE2 100%);
	
}

/*стили для ссылки*/
.botton a{
	text-decoration: none;
	color:black;
}

/*внутреняя рамка */
.botton-border{
	top:3px;
	bottom:3px;
	left:3px;
	right: 3px;
	position: absolute;
	border: 1px solid white;
	border-radius: 50px;
}