*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}


body{
	background: #000;
	font-family: sans-serif;
}

.container {
	background: linear-gradient(#F9F9F9,#EBEBEB);
	width:100%;
	border-radius: 0 0 10px 10px;
	border: 1px solid #fff;
	position: relative;
	padding-top:50px;
	
	


}

.hidden {
	overflow: hidden;
	display: block-inline;
	width: 480px;
	margin:30px auto;
}


.title {
	height:50px;
	width:160px;
	color:#FFB163;
	font-size: 2em;
	position: absolute;
	top: -5px;
	left: -30px;	
	background:#000;
	transform:skew(-25deg);
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	text-align: right;
	padding-right: 20px;
	font-weight: bold;

	

}

.text {
	padding: 10px;
	line-height: 1.3em;


}


.title span {
	display: block;
	line-height: 1.4em;
	transform:skew(25deg);
}