*{
	box-sizing: border-box;
}

.circle{
	width: 150px;
	height: 150px;
	margin:30px auto;
	border-radius: 50%;
	border: 25px solid #95CD8B;
	border-right: 25px solid #D0E6BB;
	text-align: center;
	line-height: 6em;

}

.circle  span{

	font-size: 2.5em;


}




